{{#d-section pageClass="about"}}
  <div class='container'>
    <div class='contents clearfix'>

      <ul class="nav-pills">
        <li class="nav-item-about">{{#link-to 'about' class="active"}}{{i18n 'about.simple_title'}}{{/link-to}}</li>
        {{#if faqOverriden}}
            <li class="nav-item-faq">{{#link-to 'faq'}}{{i18n 'faq'}}{{/link-to}}</li>
        {{else}}
          <li class="nav-item-faq">{{#link-to 'faq'}}{{i18n 'faq'}}{{/link-to}}</li>
        {{/if}}
        <li class="nav-item-tos">{{#link-to 'tos'}}{{i18n 'terms_of_service'}}{{/link-to}}</li>
        <li class="nav-item-privacy">{{#link-to 'privacy'}}{{i18n 'privacy'}}{{/link-to}}</li>
      </ul>

<center><br>
<h1 class="prof">{{i18n 'about.simple_title'}}</h1>
<h2 class="user">Миссия Toxu — делиться знаниями.</h2>
<div class="user-img"></div>

<br>

       
<div class="prof-glog-blog new-str">

<div class="prof-blog">
<div class="prof-num">{{number model.stats.topic_count}}</div>
<div class="prof-txt">вопросов</div>
</div>

<div class="prof-blog">
<div class="prof-num">{{number model.stats.user_count}}</div>
<div class="prof-txt">участников</div>
</div>


<div class="prof-blog">
<div class="prof-num">{{number model.stats.post_count}}</div>
<div class="prof-txt">ответов</div>
</div>

</div>
 <div class="bord-2 new-str"></div>
</center>
<div class="new-str"><br><br>

      {{#if model.moderators}}
        <section class='about moderators'>
          <h3>{{d-icon "users"}} {{i18n 'about.our_moderators'}}</h3>

          <div class='users'>
            {{#each model.moderators as |m|}}
              {{user-info user=m}}
            {{/each}}
          </div>
          <div class='clearfix'></div>
        </section>
      {{/if}}




      {{#if contactInfo}}
        <section class='about contact'>
            <h3>{{d-icon "envelope-o"}} {{i18n 'about.contact'}}</h3>
            <p>{{{contactInfo}}}</p>
        </section>
      {{/if}}
</div>
    </div>
  </div>
{{/d-section}}
