{{#if bulkSelectEnabled}}
  <div class='star'>
    {{#if canBulkSelect}}
      {{raw "flat-button" class="bulk-select" icon="list" title="topics.bulk.toggle"}}
    {{/if}}
  </div>
{{/if}}
{{raw "topic-list-header-column-too" order='default' name='topic.title' bulkSelectEnabled=bulkSelectEnabled showBulkToggle=toggleInTitle canBulkSelect=canBulkSelect}}
{{#unless hideCategory}}
  {{raw "topic-list-header-column-too" sortable=sortable order='category' name='category_title'}}
{{/unless}}
{{#if showPosters}}
  {{raw "topic-list-header-column-too" order='posters' name='users'}}
{{/if}}
{{raw "topic-list-header-column-too" sortable=sortable number='true' order='posts' name='replies'}}
{{#if showParticipants}}
  {{raw "topic-list-header-column-too" order='participants' name='users'}}
{{/if}}
{{#if showLikes}}
  {{raw "topic-list-header-column-too" sortable=sortable number='true' order='likes' name='likes'}}
{{/if}}
{{#if showOpLikes}}
  {{raw "topic-list-header-column-too" sortable=sortable number='true' order='op_likes' name='likes'}}
{{/if}}
{{raw "topic-list-header-column-too" sortable=sortable number='true' order='views' name='views'}}
{{raw "topic-list-header-column-too" sortable=sortable number='true' order='activity' name='activity'}}
