{{#conditional-loading-spinner condition=loading}}

 {{#if hasIncoming}}
  <div class="show-mores">
    <div class='alert alert-info clickable' {{action "showInserted"}}>
      {{count-i18n key="topic_count_" suffix="latest" count=incomingCount}}
    </div>
  </div>
  {{/if}}

{{#if topics}} 

<h3 class="sidebar-sug">Рекомендованные</h3>


    {{topic-list-sug showParticipants=showParticipants
                 showPosters=showPosters
                 hideCategory=hideCategory
                 topics=topics
                 expandExcerpts=expandExcerpts
                 bulkSelectEnabled=bulkSelectEnabled
                 canBulkSelect=canBulkSelect
                 selected=selected
                 skipHeader=skipHeader}}
                 
<a href="https://toxu.ru/top" class="ser cvet">Посмотреть популярные вопросы...</a>

<hr class="shar"> 

<div class="share2">
<a rel="nofollow" class="soc-link" href="http://www.facebook.com/sharer.php?u=https://toxu.ru{{unbound url}}" target="_blank">
<i class="fa fa-facebook" aria-hidden="true"></i></a>
<a rel="nofollow" class="soc-link" href="http://twitter.com/share?url=https://toxu.ru{{unbound url}}" target="_blank">
<i class="fa fa-twitter" aria-hidden="true"></i></a>
<a rel="nofollow" class="soc-link" href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl=https://toxu.ru{{unbound url}}" target="_blank">
<i class="fa fa-odnoklassniki" aria-hidden="true"></i></a>
<a rel="nofollow" class="soc-link" href="https://vk.com/share.php?url=https://toxu.ru{{unbound url}}" target="_blank">
<i class="fa fa-vk" aria-hidden="true"></i></a>
</div>
<div>
<a class="cvet" href="https://toxu.ru{{unbound url}}" id="scroll-top" style="display: inline;"><i class="fa fa-arrow-up"></i></a>
</div>


{{else}}
{{#unless loadingMore}}
<div class='alert alert-info'>
В этом вопросе более 30 ответов. Вы можете продолжить чтение, или перейдите к последнему ответу. 
</div>
<center><a class="cvet" href="https://toxu.ru{{unbound url}}/500" id="scroll-bottom" style="display: inline;"><i class="fa fa-arrow-down"></i></a></center>
{{/unless}}
{{/if}}
{{/conditional-loading-spinner}}
