{{#if src}}

<div class="cat-info">
{{{catTxt}}}
</div>

{{else}}    
   
<center><button id="create-topic" class="btn btn-default btn btn-icon-text ember-view">  
<span class="d-button-label">Задать вопрос</span></button></center>
   
   
   {{#if currentUser.custom_fields.userbar_profile}}   {{else}}  {{mount-widget widget="profile-t"}}  {{/if}}
   {{mount-widget widget="sidebar-items"}}

 {{/if}}
