{{#if category}}

{{#if subCategory}}
<span class='cat-nav'><span class='navg'>/</span> <span class='d-label'>{{category.name}}</span></span>
{{else}}
<a class='home-toxu' href="https://toxu.ru"><i class="fa fa-home" aria-hidden="true"></i></a> <span class='navg'>/</span> 

<a href={{category.url}} {{action "expand"}} class="dropdown-header" style={{badgeStyle}} aria-label={{i18n 'categories.category_list'}} aria-expanded={{expanded}}>
  {{#if category.read_restricted}}
      {{d-icon "lock"}} 
  {{/if}}
    <span class='d-label'>{{category.name}}</span>
</a>

{{/if}}



{{else}}
 
{{/if}}
