<!DOCTYPE html>
<html lang="<%= SiteSetting.default_locale %>">
  <head>
    <meta charset="utf-8">
    <title><%= @user.username %> — на Toxu | профиль участника</title>
    <meta name="description" content="<%= @user.username %> профиль на Toxu.ru">
    <%= discourse_stylesheet_link_tag(mobile_view? ? :mobile : :desktop) %>
    
    <style type="text/css">body.crawler > header { width: 98%;}</style>
  </head>
  <body class="crawler">
   
<header><div class="wrap">
     <a href="<%= path "/" %>"><img src="<%=SiteSetting.logo_url%>" alt="<%=SiteSetting.title%>" id="site-logo" style="max-width: 150px;"></a>
</div></header>

<div id="main-outlet" class="wrap"><center>
 
<h1 class="user"><%= @user.username %></h1>


   <img alt="<%= @user.name %>" src="<%= @ava %>" class="avatar" width="120" height="120">
  <br>   <br> 
   
   <h3 class="user"> <%= @user.name %></h3>
   
   <br>
   
   
  <div class="prof-glog-blog">

<div class="prof-blog">
<div class="prof-num"><%= @user.trust_level %></div>
<div class="prof-txt">доверие</div>
</div>

<div class="prof-blog">
<div class="prof-num"> <%= @user.badge_count %> </div>
<div class="prof-txt">наград</div>
</div>


<div class="prof-blog">
<div class="prof-num"><%= @user.post_count %></div>
<div class="prof-txt">постов</div>
</div>

</div>  
  
   

<div class="bord new-str"></div>
  
  <br>
  
<img src="https://toxu.ru/uploads/default/original/2X/f/f7d2594472e276b8551feb722f5c1ccffa37496a.png" alt="Сообщество Toxu.ru">
  
 <br><br>
  <h3 class="user">Спасибо за посещение Toxu в 2017 году! В 2018 году будут большие перемены!</h3>
 
<br>   
 
 <a rel="nofollow" class="btn-primary create btn btn-icon-text ember-view" href="https://toxu.ru/u/<%= @user.username %>/summary">Посмотреть полный профиль</a>
 <br>  <br>  
</center>

</div>
   
   
<div class="bottom_footer wrap" style="clear:both;"><div class="f-copyright">
<a title="Toxu сова" href="https://toxu.ru/toxu">
<img border="0" alt="Сова Toxu" src="https://toxu.ru/uploads/default/original/2X/2/2151b0ee8e1a16da9e857e51de54fe4d42e0cd8a.jpg" width="30"></a>
<p class="copyright">Copyright © 2018  <a class="cvet" title="обмен знаниями" href="https://toxu.ru">Toxu.ru — место для обмена знаниями и опытом</a> <br> 
<small> <a class="cvet" href="https://toxu.ru/t/voprosy-k-administraczii-sajta/2016">Обратная связь</a> с администрацией сайта.</small>
</p></div>
<noindex><div class="footer_social_nav"><ul class="nav-social">
<li class="fa"><a rel="nofollow" class="cvet" title="Помощь" target="_blank" href="https://toxu.ru/help">Помощь</a></li>
<li class="fa"><a rel="nofollow" class="cvet" title="Помощь" target="_blank" href="https://toxu.ru/c/toxu/regulations">Правила</a></li>
<li class="fa"><a rel="nofollow" class="cvet" title="rss" target="_blank" href="https://toxu.ru/latest.rss">RSS</a></li>
</ul></div></noindex></div>
