<div class='sug-topic'>

<div class='num-sug'>
{{#if topic.replyCount}}<span class='num-sug-nunull'>{{topic.replyCount}}</span>{{else}}<span class='num-sug-null'>0</span>{{/if}}
 </div>

<div class='link-top-line'>
    {{raw-plugin-outlet name="topic-list-before-status"}}
    {{raw "topic-status" topic=topic}}
    {{topic-link topic class="raw-link raw-topic-link"}}
    {{raw-plugin-outlet name="topic-list-after-title"}}
    
    
    {{#if showTopicPostBadges}}
      {{raw "topic-post-badges" unread=topic.unread newPosts=topic.displayNewPosts unseen=topic.unseen url=topic.lastUnreadUrl}}
    {{/if}}
  </div>
</div>
