<% if crawler_layout? %>

<% content_for :title do %><%=t "about" %> - <%= SiteSetting.title %><% end %>

<section itemscope itemtype="https://schema.org/AboutPage">
  <h1 itemprop="name">
    О нас
  </h1>

  <div itemprop="text">
   Миссия Toxu — делиться знаниями
  </div>

<div style="max-width:780px">

<div class="prof-blog">
<div class="prof-num-u">1,8 тыс.</div>
<div class="prof-txt">вопросов</div>
</div>

<div class="prof-blog">
<div class="prof-num-u">312</div>
<div class="prof-txt">участников</div>
</div>


<div class="prof-blog">
<div class="prof-num-u">17,1 тыс.</div>
<div class="prof-txt">ответов</div>
</div>



  <% if @about.moderators.count > 0 %>
    <h2><%=t "js.about.our_moderators" %></h2>
    <div class='moderators-list' itemscope itemtype='http://schema.org/ItemList'>
      <% @about.moderators.each do |user| %>
        <div itemprop='itemListElement' itemscope itemtype='http://schema.org/ListItem'>
          <meta itemprop='url' content='<%= user_path(user) %>'>
          <a href='<%= user_path(user) %>' itemprop='item'>
            <span itemprop='image'>
              <img width="45" height="45" class="avatar" src="<%= user.small_avatar_url %>">
            </span>
            <span itemprop='name'>
              <%= user.username %>
              <% if user.name.present? && SiteSetting.enable_names %>
                - <%= user.name %>
              <% end %>
            </span>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>

 
Если у вас возникли трудности при использовании сайта, или есть вопросы, пишите: <img alt="support toxu" src="https://toxu.ru/uploads/default/original/2X/1/1a13a0921ac5c3e52cc74d68529e2c92709eca12.png">
<br><br>
О всех ваших предложениях, дополнениях, пожеланиях вы можете аналогично писать на вышеуказанный e-mail.
<br><br>
<i>Если у вас возникли вопросы,</i> то возможно ответы уже есть на <a title="Помощь по сайту" href="https://toxu.ru/help">странице помощи.</a> 
<br><br>
  <h2>О сайте</h2>
  <br><br>
  Toxu.ru - новый сайт вопросов и ответов. Создатели занимаются этим сайтом более 2 лет, но в режиме бета-тестирования предложили его пользователям лишь с апреля 2017 года. Сейчас активно развивается функционал, учитываются пожелания пользователей и наполняется полезным материалом сам сайт.
<br><br>
Цель сайта - собрать пользователей, желающих и умеющих вести плодотворную беседу; учить других и учиться новому со своими пользователями; развиваться и совершенствоваться, чтобы исполнить свою миссию - стать полезным, эффективным сайтом для распространения знаний.
<br><br>
На сайте вас встретит приятный спокойный дизайн, который можно гибко настроить под собственные запросы, эффективный функционал создания и редактирования публикаций, гибкое управление вашими публикациями. Ваши возможности будут со временем расширяться, а сам функционал сайта будет усложняться с повышением уровня доверия.
<br><br>
Отличительной чертой Toxu.ru от других сайтов является система модерации материалов, которая направлена на реализацию политики Полезности - все материалы сайта проходят проверку на уникальность и полезность существующим и будущим пользователям. Также пользователи могут не только публиковать свои вопросы и ответы, но и усовершенствовать представленный на сайте другими пользователями материал, для чего необходимо достигнуть соответствующего уровня доверия.
<br><br>
</section>


<% end %>

<% content_for :head do %>
  <%= raw crawlable_meta_data(title: SiteSetting.title, description: SiteSetting.site_description) %>
<% end %>
